<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>
<body>
    <section>
        <form action="">
            <label for="">이름</label>
            <input type="text" name="" id="">
            <label for="">성별</label>
            <select name="gender" id="gender">
                <option value=""></option>
                <option value="Female">여자</option>
                <option value="Male">남자</option>
            </select>
            <button type="submit">검색</button>
        </form>
    </section>
</body>
</html>