<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/common.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/layout.css' ) }}">
    <script src="https://kit.fontawesome.com/196821e7aa.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="top_nav">
        <ul class="nav_wrap">
            <li><a href="">사용자</a></li>
            <li><a href="">주문 내역</a></li>
            <li><a href="">주문 상세 내역</a></li>
            <li><a href="">메뉴</a></li>
            <li><a href="">스토어</a></li>
        </ul>
    </nav>
    <section>
        <form action="">
            <label for="">이름</label>
            <input type="text" name="" id="">
            <label for="">성별</label>
            <select name="gender" id="gender">
                <option value=""></option>
                <option value="Female">여자</option>
                <option value="Male">남자</option>
            </select>
            <button type="submit">검색</button>
        </form>
    </section>
    {% block content %}
    {% endblock %}
</html>