{% extends "base.html" %}
{% block title %}SIGN UP PAGE{% endblock %}

{% block content %}
<H1>Sign up Page</H1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p style="color:#ff6060;">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="#" method="POST">
    <p>Change Account</p>
    <p><input type="password" name="email" placeholder="변경할 비밀번호를 입력하세요"></p>
    <p><input type="email" name="email" placeholder="이메일주소를 입력하세요" value="{{ email if email }}">
    <input type="submit" name="action" value="submit">
    </p>
    <p>Delete Account
    <input type="submit" name="action" value="delete">
    </p>
</form>
{% endblock %}