<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOOGLE</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            
        }
    </style>
</head>
<body>
    <h1>KOOGLE</h1>
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="검색어를 입력하세요">
        <button type="submit" name="type" value="web">웹 검색</button>
        <button type="submit" name="type" value="image">이미지 검색</button>
        <button type="submit" name="type" value="vclip">동영상 검색</button>
    </form>
</body>
</html>